.trailer {
    border-width: 10px;
    border-style: dashed;
    border-color: #00f
}
#content-title {
    text-shadow:
    -1px 1px #ccc,
    -2px 2px #bbb,
    -3px 3px #aaa,
    -4px 4px #999,
    -5px 5px #888,
    -6px 6px #777,
    -7px 7px #666,
    -8px 8px #555;

}