body {
    font-family: sans-serif;
    background-color: #282828;
    color: white;
    overflow-x: clip;
    margin: 0px;
}
.header {
    z-index: 100000000;
    margin:0px;
    width:100%;
    height:100px;
    background-color:#0000007f;
    border-color: #89f;
    border-width:2px;
    border-style: solid;
    position:sticky;
    top:0%;
    left:0%;
    padding:0px;

}
.button-container {
    width: 100px;
    height: 90px;
    font-size: calc(90px - 10px);
    position:relative;
    left:50%;
    top:0%;

}
.button-actual {
    font-size: inherit;
    background-color: transparent;
    border-color: transparent;
    width: inherit;
    height: inherit;
    position:relative;
    right:50%;
}
.button-img {
    position: sticky; top: 0%; left: 0%; z-index: 0; width: inherit; height: inherit;
}
.button-text {
    position: sticky;
    left: 0%;
    bottom: 100%;
    z-index: 1;
    font-size: inherit;
    color:white;
}
.button-contents {
    height: 100%; width: 100%; font-size: inherit;
}
.loading-icon {
    animation: 2s linear 0s infinite loading-spin;
}

@keyframes loading-spin {
    from {
        /* pushes the sun down past the viewport */
        transform: rotate(-360deg);
    }
    to {
        /* returns the sun to its default position */
        transform: rotate(0deg);
    }
}
.styled-break {
    height: 0;
    border-top: 2px dashed #aaa;
    margin: 0.2em 0;
}
fieldset {
        border: 2px solid #aaa;
        border-radius: 10px;
        margin: 10px 3px;
        text-align: center
}
legend {
    font-size: 1.5em;
    border: inherit;
    background-color: #0005;
    text-align: center;

}
.popup-box {
    background-color:#444;
    width:calc(100% - 200px);
    height:calc(100% - 200px);
    z-index:100000002;
    position:fixed;
    margin:100px;
    border: 1px solid #aaaf;
    border-radius: 10px;
    overflow-y: scroll;
    scrollbar-width: thin
}
x-br {
    height: 0;
    border-top: 2px dashed #aaa;
    margin: 0.2em 0;
    display:block;
}
bold {
    font-weight: bold;
}
a {
    color: #0ff
}