body {
    font-family: sans-serif;
    background-color: #282828;
    color: white;
    overflow-x: clip;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
row- {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
col- {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}
grid- {
    ;
}

.header {
    z-index: 100000000;
    margin:0px;
    width:100%;
    height:80px;
    background-color:#0000007f;
    border-color: #89f;
    border-width:2px;
    border-style: solid;
    border-top: none;
    position:sticky;
    top:0%;
    left:0%;
    padding:0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
footer {
    height:50px;
}
.footer {
    z-index: 100000000;
    margin:0px;
    width:100%;
    height:50px;
    background-color:#0000007f;
    border-color: #89f;
    border-width:2px;
    border-style: solid;
    border-bottom: none;
    position:fixed;
    bottom:0%;
    left:0%;
    padding:0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.button-container {
    width: 100px;
    height: 90px;
    font-size: calc(90px - 10px);
    justify-self: center;
    position: static;
    padding: 0px
}
.button-actual {
    font-size: inherit;
    background-color: transparent;
    border-color: transparent;
    width: inherit;
    height: inherit;
    position:static;
    padding: 0px
}
.button-img {
    position: relative;
    z-index: 0;
    width: inherit;
    height: inherit;
}
.button-text {
    position: relative;
    bottom:100%;
    height:60%;
    z-index: 1;
    font-size: 56%;
    color:white;
    overflow-x: clip;
    overflow-y: clip;
    text-overflow: ellipsis;

}
.button-contents {
    height: inherit;
    width: inherit;
    font-size: inherit;
    text-align: center;
    margin: 0px

}
.loading-icon {
    animation: 2s linear 0s infinite loading-spin;
}

@keyframes loading-spin {
    from {
        /* pushes the sun down past the viewport */
        transform: rotate(-360deg);
    }
    to {
        /* returns the sun to its default position */
        transform: rotate(0deg);
    }
}
.styled-break {
    height: 0;
    border-top: 2px dashed #aaa;
    margin: 0.2em 0;
}
fieldset {
        border: 2px solid #aaa;
        border-radius: 10px;
        margin: 10px 3px;
        text-align: center
}
legend {
    font-size: 1.5em;
    border: inherit;
    background-color: #0005;
    text-align: center;

}
.popup-box {
    background-color:#444;
    width:calc(100% - 200px);
    height:calc(100% - 200px);
    z-index:100000002;
    position:fixed;
    margin:100px;
    border: 1px solid #aaaf;
    border-radius: 10px;
    overflow-y: scroll;
    overflow-x: clip;
    scrollbar-width: thin
}
x-br {
    height: 0;
    border-top: 2px dashed #aaa;
    margin: 0.2em 0;
    display:block;
}
bold {
    font-weight: bold;
}
a {
    color: #0ff
}
main {
    padding: 8px
}
#terms-of-service-text {
    text-align: left;
}
weak {
    font-weight: normal;
}